body {
  overflow-x: hidden;
  margin-left: 5%;
  margin-right: 5%;
  background-color: whitesmoke;
}
.portrait-img {
  height: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.username {
  font-family: serif;
  font-size: 16px;
  padding-top: 30px;
  margin-right: 50px;
  padding-right: 50px;
}
.logo {
  height: 30px;
}

.title {
  font-family: serif;
  font-size: 40px;
  text-align: center;
  margin-top: 10%;
}
hr {
  height: 3px;
  background-color: #323532;
  margin-top: 3px;
}

.section1 {
  background-color: white;
  margin-top: 50px;
  float: left;
  margin-left: 50px;
  padding: 20px;
  width: 40%;
  border: 2px solid #1e1e1e;
}
.about {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline double 2px #323532;
}
.text-about {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  padding: 20px;
}
.list {
  margin-top: 50px;
  float: right;
  margin-right: 50px;
  padding: 20px;
  width: 20%;
  border-top: 2px solid #ccc9c9;
  border-bottom: 2px solid #ccc9c9;
}
.list-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: medium;
}
.blog-list {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  padding: 20px;
  text-align: center;
}
.section2 {
  background-color: white;
  margin-top: 50px;
  float: right;
  margin-right: 50px;
  padding: 20px;
  width: 40%;
  border: 2px solid #1e1e1e;
}
.hobbies {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline double 2px #323532;
}
.text-hobbies {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  padding: 20px;
}
.section3 {
  background-color: white;
  margin-top: 50px;
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 20px;
  width: 40%;
  border: 2px solid #1e1e1e;
}
.personal-goals {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline double 2px #323532;
}
.text-personal-goals {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  padding: 20px;
}
.css-logo {
  margin-top: 50px;
  float: right;
  margin-right: 50px;
  padding: 20px;
  width: 40%;
}
