@media (min-width: 800px) {
  img {
    border: 5px solid yellow;
  }
  body {
    background-color: brown;
  }
}
@media (min-width: 1024px) {
  img {
    border: 1px solid blue;
  }
  body {
    background-color: rgb(122, 230, 122);
  }
}
@media (min-width: 1920px) {
  img {
    border: 1px solid red;
  }
  body {
    background-color: rgb(26, 25, 25);
  }
}
