body {
  margin: 1% 10%;
}
header {
  text-align: center;
  padding: 20px;
  border: 1px solid black;
}
#input-field {
  height: 40px;
  width: 500px;
  padding: 0px 20px;
  border-radius: 20px;
  border: 1px solid rgb(175, 169, 169);
}
ul {
  border: 1px solid black;
  padding-left: 10%;
  padding-right: 10%;
}
ul li {
  border-bottom: 1px dotted gray;
  padding-bottom: 5px;
}
.p-style {
  font-size: 20px;
}
#input-edit {
  height: 40px;
  width: 500px;
  padding: 0px 20px;
  border-radius: 20px;
  border: 1px solid #fff;

  box-sizing: border-box;
}
#btn-add-comment {
  height: 40px;
  width: 90px;
  border-radius: 20px;
  background-color: rgb(241, 154, 222);
  border: 0px;
  margin: 10px;
  cursor: pointer;
}
#btn-add-comment:hover {
  opacity: 0.6;
}
#delete {
  height: 30px;
  border-radius: 50%;
  background-color: rgb(226, 51, 51);
  border: 0px;
  margin: 10px;
  cursor: pointer;
}
#delete:hover {
  opacity: 0.6;
}
#edit {
  height: 30px;
  border-radius: 50%;
  background-color: rgb(61, 136, 235);
  border: 0px;
  margin: 10px;
  cursor: pointer;
}
#edit:hover {
  opacity: 0.6;
}
#save {
  height: 30px;
  border-radius: 50%;
  background-color: rgb(41, 143, 49);
  border: 0px;
  margin: 10px;
  cursor: pointer;
}
#save:hover {
  opacity: 0.6;
}
